fake_quant/experiments/*
.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
quarot.egg-info/*
rsq.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
**/kv_retrieval_data/
**/qa_data/
**/new_cases/
