
[submodule "third-party/cutlass"]
	path = third-party/cutlass
	url = git@github.com:NVIDIA/cutlass.git
[submodule "third-party/nvbench"]
	path = third-party/nvbench
	url = git@github.com:NVIDIA/nvbench.git
[submodule "third-party/fast-hadamard-transform"]
	path = third-party/fast-hadamard-transform
	url = git@github.com:Dao-AILab/fast-hadamard-transform.git
[submodule "third-party/quip-sharp"]
	path = third-party/quip-sharp
	url = git@github.com:Cornell-RelaxML/quip-sharp.git
